<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <title>Hello</title>
</head>
<body>
    <h1>Wow !</h1>

    <p>Another page !</p>

    <p>Click on the button to go on the previous page !</p>

     <button type="button" onclick="sendRequest()">Click Me!</button>
    

    <script>
        function sendRequest() {
            var xhr = new XMLHttpRequest();
            xhr.onload = () => {
                alert(xhr.response);
                document.open();
                document.write(xhr.response);
                document.close();
        };
            xhr.open('POST', '/', true);
            xhr.setRequestHeader("Content-Type", "text");
            xhr.setRequestHeader("Connetion", "keep-alive");
            xhr.send("sent from javascript");
        }

    </script>
    
    
</body>
</html>
